* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0;
  background-color: gray;
}

.nav-flex {
  display: flex;
  background-color: #0079c1;
  height: 4rem;
}

.nav-flex > * {
  background-color: #0079c1;
  max-width: 100px;
  text-align: center;
  margin: 1rem;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

button, input[type="submit"] {
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  background: rgb(196, 190, 190);
}

body {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
}

header {
  grid-row: 1;
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
}